<a href="https://colab.research.google.com/github/Grace-Gitome/DS_Track/blob/main/Python_3_Tutorials_Point.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Revisitng the basics.

In [6]:
#Reading input from keyboard.
x= input ("Enter subject: ")

Enter subject: English

In [8]:
#multiple statements on a single line
import sys; x = 1; print(x)

1

In [10]:
#Python strings
str = 'Hello World!'
print (str) # Prints complete string
print (str[0]) # Prints first character of the string
print (str[2:5]) # Prints characters starting from 3rd to 5th
print (str[2:]) # Prints string starting from 3rd character
print (str * 2) # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [12]:
#Python lists
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list) # Prints complete list
print (list[0]) # Prints first element of the list
print (list[1:3]) # Prints elements starting from 2nd till 3rd
print (list[2:]) # Prints elements starting from 3rd element
print (tinylist * 2) # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [14]:
#updating a list
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
list[2] = 1000 
list

['abcd', 786, 1000, 'john', 70.2]

In [15]:
#tuples are immutable
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tuple[2] = 1000 # Invalid syntax with tuple

TypeError: ignored

In [1]:
#Numbers
print(abs(-45)) #return absolute value

45

In [8]:
#returns the largest integer greater than the initial value
import math
print(math.ceil(-45.17))
print(math.ceil(100.12))
print(math.ceil(-100.72))

-45
101
-100

In [7]:
#returns the largest integer not greater than the initial value
print(math.floor(-45.17))
print(math.floor(100.12))
print(math.floor(-100.72))

-46
100
-101

In [4]:
#exponential
print(math.exp(-100.72))

1.8107553736706374e-44

In [6]:
#absolute values
print(math.fabs(-1.345))

1.345

In [10]:
#log()
print(math.log(45.17))
print(math.log(100.12))
print(math.log(100.72))

3.8104331496665127
4.6063694665635735
4.612344389736092

In [11]:
#log10()
print(math.log10(45.17))
print(math.log10(100.12))
print(math.log10(100.72))

1.654850090561394
2.0005208409361854
2.003115717099806

In [16]:
#Python dictionary.
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one']) # Prints value for 'one' key
print (dict[2]) # Prints value for 2 key
print (tinydict) # Prints complete dictionary
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [17]:
#if function 
amount = int(input ("Enter amount: "))
if (amount > 1000):
  print("Fair enough!")

Enter amount: 2000
Fair enough!

In [19]:
#if else function
amount = float (input("Enter value:"))
if (amount >=5.77):
  print("Enough")
else:
  print("Deficit")

Enter value:2.333
Deficit

In [20]:
#The elif statement
score = int(input("Enter Score:"))

if (score >=90):
  print ("A")

elif (score>=80):
  print("B")

elif score (score>=70):
  print("C")

else:
  print("D")

Enter Score:87
B

In [27]:
#Nested if statement
num = int (input ("Enter a number: "))
if (num % 2 == 0):
  if (num % 3 == 0):
    print("Divisible by both 2 & 3")

  elif (num % 2 == 0):
      print ("Only disible by 2 not 3")

else:
  if( num % 3 == 0):
    print("Only divisible by 3 not 2")
  else:
   print("not divisible by either 2 or 3")

Enter a number: 7
not divisible by either 2 or 3

In [28]:
#Loops
#while loop - repeats a group of statements while a given condition is true. It tests the condition first before executing the loop body.
#for loop -
#nested loop.

#while loop
count = 0
while (count < 9 ):
  print(count)
  count+=1

print ("Goodbye")

0
1
2
3
4
5
6
7
8
Goodbye

In [30]:
#infinite loop - if a condition never becomes false
count = 11
while (count > 9 ):
  print(count)
  count+=1

print ("Goodbye")

In [33]:
#using else statement with loops
count = 0
while (count< 9 ):
  print(count)
  count+=1
else:
  print("Goodbye")

0
1
2
3
4
5
6
7
8
Goodbye

In [50]:
#for loop
numbers = [0,1,2,3,4 ]
for i in numbers:
  print (i)

0
1
2
3
4

In [53]:
numbers = [0,1,2,3,4 ]

sum = 0;
for i in numbers:
  sum  += i
  print (sum)

0
1
3
6
10

In [55]:
#Program to display student's mark from record
studentName = "Andrew"

records = {"James": 100 , "Julia": 570, "Andrew":600}

for student in records:
  if student == studentName:
    print(records[student])

600

In [56]:
list = ["geeks", "for", "geeks"]
for index in range(len(list)):
  print(list[index])

geeks
for
geeks

In [58]:
#nested loop
for i in range (6):
  for j in range (i):
    print (i, end = '')
  print()

1
22
333
4444
55555

In [63]:
for i in range(1,11):
  for j in range(1,11): 
    k = i * j
    print (k, end = '   ')

  print()

# end = '' appears as a space instead of default newline hence numbers will appear in a row

1   2   3   4   5   6   7   8   9   10
2   4   6   8   10   12   14   16   18   20
3   6   9   12   15   18   21   24   27   30
4   8   12   16   20   24   28   32   36   40
5   10   15   20   25   30   35   40   45   50
6   12   18   24   30   36   42   48   54   60
7   14   21   28   35   42   49   56   63   70
8   16   24   32   40   48   56   64   72   80
9   18   27   36   45   54   63   72   81   90
10   20   30   40   50   60   70   80   90   100