<a href="https://colab.research.google.com/github/Grace-Gitome/DS_Track/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### VARIABLES

In [ ]:
#Basics refresher on python variables
#Resource used is learnpython.com

In [ ]:
#Function to check object type
mynum = 44
print(type(mynum))


mynum = 44.67
print(type(mynum))

<class 'int'>
<class 'float'>

In [ ]:
## Data Types
#simultaneous variable assignment

a,b = 3,4;
print (a,b)

3 4

In [ ]:
print([1,2,3] * 3)  #repeat the values in the list three times by multiplying it with 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
#Exercise on Basic operators
x_list  = ["x"]*10  #contains 10 instances of x
y_list  = ["y"]*10

big_list =x_list +y_list   #concancet the two lists

#length check
print("x_list contains %d objects" %len(x_list))
print("y_list contains %d objects" %len(y_list))
print("big_list contains %d objects" %len(big_list))

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects

###isinstance() function
It is used to check if number is either int or float

In [ ]:
#isinstance() function
#It returns true or false since it is a boolean function.
print(isinstance(400,int))
print(isinstance(400,float))

True
False

In [ ]:
#isinstance() function
mynum = 7.77

if isinstance(mynum, int):
  print("Number is an integer")

if isinstance(mynum, float):
  print("Number is  a float variable.")

  #alternatively, simultaneous variable check
if isinstance(mynum,(int,float)):
  print('Number is either an integer or a float variable')

Number is  a float variable.
Number is either an integer or a float variable

In [ ]:
# Exercise on variables.
mystring = "Hello"
myfloat  =  10.0
myint    =  20

#test script
if mystring =="Hello":
  print("String: %s" % mystring)

#the function checks the variable datatype and the assigned value
if isinstance(myfloat,float) and myfloat== 10.0: 
  print("Float %f" %myfloat)    

if isinstance(myint,int) and myint == 20:
  print("Integer: %d" %myint)

String: Hello
Float 10.000000
Integer: 20

### PYTHON COLLECTIONS(arrays)
There are four collection data types<br>
LIST - a collection which is ordered and mutable, it allows duplicate members.<br>

TUPLE - a collection which is ordered and immutable. It allows duplicate members <br>

SET - collection which is unordered,immutable and unindexed. It has no duplicate members.<br>

DICTIONARY- a collection which is ordered and mutable. It does not allow duplicate members.

### LISTS
A list is used to store multiple items in a variable. <br>
Lists are ordered, changeable(mutable) and allow duplicate values.<br>
Ordered means that items have a defined order, if you add new items to a list they are placed at the end of the list. There is use of indexes.<br>
Changable/mutable means than we can perform CRUD operations on the lists items.

In [ ]:
#List manipulation.
mylist = ["data", "mathematics", "statistics"]
#determine list length
print(len(mylist))    #len()

#determine object type
print(type(mylist))    #type()

#list construction
mylist = list(("data", "mathematics", "statistics"))  #list()
print(mylist)

#add values to the list
mylist.append("ML")      #append()
print(mylist)

#insert item to list
mylist.insert(3,"Visualization")      #insert() at a specified index
print(mylist)

#add value at end of list ..separate the words into single characters
mylist.extend("Cleaning")
print(mylist)

3
<class 'list'>
['data', 'mathematics', 'statistics']
['data', 'mathematics', 'statistics', 'ML']
['data', 'mathematics', 'statistics', 'Visualization', 'ML']
['data', 'mathematics', 'statistics', 'Visualization', 'ML', 'C', 'l', 'e', 'a', 'n', 'i', 'n', 'g']

In [ ]:
mylist = ["history", "science", "english"]
print(mylist)

#removing specified item
mylist.remove("history")   
print(mylist)

#remove specified index
mylist.pop(1)
print(mylist)

#remove last index
mylist.pop()
print(mylist)

['history', 'science', 'english']
['science', 'english']
['science']
[]

In [ ]:
mylist = ["history", "science", "english", "aviation", "theology"]
print(mylist)

#removing specified item
mylist.remove("history")   
print(mylist)

#remove specified index
mylist.pop(1)
print(mylist)

#remove last index  ****unsure
mylist.pop()
print(mylist)

#clear list
mylist.clear()  #list remains but with no content


print(mylist)
#delete list completely
del mylist

['history', 'science', 'english', 'aviation', 'theology']
['science', 'english', 'aviation', 'theology']
['science', 'aviation', 'theology']
['science', 'aviation']
[]

In [48]:
print(["x"] * 10) #list multiplication

['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x']

In [49]:
#Exercise on lists
numbers = [1,2,3]
strings = ["Collab", "Github", "Clickup"]

second_platform = strings[1]

print(numbers)
print(strings)
print("The second SAAS on the strings list is %s" %second_platform)

[1, 2, 3]
['Collab', 'Github', 'Clickup']
The second SAAS on the strings list is Github

### LOOPS

In [32]:
primes = [2,3,5,7]  #iteration over a list
for prime in primes:
  print(prime)

2
3
5
7

In [33]:
 #iteration over a string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [34]:
for x in range (5):
  print(x)
else:
  print("The end!")  #else statement will only be executed after the for loop is completed

0
1
2
3
4
The end!

In [35]:
for x in range (5):
  if x == 3:
    break
  print(x)
else:
  print("The end!")   #else function will not be executed since the loop is broken

0
1
2

In [2]:
for x in range(5):
  print(x)

0
1
2
3
4

In [3]:
for x in range(3,6):
  print(x)

3
4
5

In [4]:
for x in range (3,10,2):
  print(x)

3
5
7
9

In [6]:
#while loop

count = 10
while count < 20:
  print(count)
  count +=1

10
11
12
13
14
15
16
17
18
19

In [7]:
#break and continue statements
#break exits a loop  wheares continue is used to skip the  current block and return to the for or while statement
count = 10
while count < 20:
  print(count)
  count +=1
  if count >15:
    break

10
11
12
13
14
15

In [8]:
#break and continue statements
count = 10
while count < 20:
  print(count)
  count +=1
  if count >15:
    continue

10
11
12
13
14
15
16
17
18
19

In [16]:
#break and continue statements
for x in range(10):
  if x % 2 ==0:
       continue
  print(x)

1
3
5
7
9

In [17]:
#Exercise
#Print all even numbers and stop if loop comes across 237
numbers = [700,900,457,567,234,789,456,237,46,1,38,97]
for number in numbers:
  if number == 237:
    break

  if number % 2 == 1: #odd number
    continue

  print(number)

700
900
234
456

In [37]:
#Nested loop
adj = ["mazda", "ford","range"]
owners = ["Jill","Jac","Joe"]

for x in owners:
  for y in adj:
    print (x,y)

Jill mazda
Jill ford
Jill range
Jac mazda
Jac ford
Jac range
Joe mazda
Joe ford
Joe range

### FUNCTIONS

In [ ]:
#Function with no argument
def func():
  print("Function with no argument")

func()

Function with no argument

In [ ]:
#Function with arguments
#An argument is information passed into a function when it is called.
#Parameter is the variable listed inside the parentheses in the function definition.

In [21]:
def func_with_args(username, greeting):
    print("Hello, %s , %s"%(username, greeting))
func_with_args("John","Have a good day")

Hello, John , Have a good day

In [23]:
def func (username, classes):
  print("%s attend %s class" %(username, classes))

func("Josphat","Telecommunications")

Josphat attend Telecommunications class

In [25]:
def addition (a,d):
  c = a+ d
  print(c)

addition(1,2)

3

In [46]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [47]:
#keyword arguments **kwargs
#arguments are passed onto a dictionary unlike *args which are passed onto a list
def func (**tour):
  print("She will be travelling to %s" % (tour["city"]))

func(city = "Nairobi", animals = "zebras")

She will be travelling to Nairobi

In [51]:
#passing a list as an argument
def func (units):
  for x in units:
    print(x)

values = [1,2,3]

func(values)

1
2
3

In [52]:
#use of return statement

def func (maths):
  return 5 * maths

print(func(3))

15

In [53]:
#use of return statement

def func (x):
  return 5 * x

print(func(3))

15

## STRING FORMATTING
Basic argument operators:<br>
%s - string <br>
%d - integers <br>
%f - floating point numbers <br>
%.<number of digits>f - floating point numbers with specified digits to the right of the dot <br>
%x/%X -integers in hex representation (Lowercase/Uppercase)

In [ ]:
Game = "Baseball"
Score = 4

print("%s score is %d" %(Game,Score))

Baseball score is 4

In [ ]:
#Exercise on string formatting

In [ ]:
data = ("Grace", "Gitome", 700)
format_string = "Hello %s %s. Your current balance is $%s"

print(format_string % data)

Hello Grace Gitome. Your current balance is $700

In [ ]:
#string modification
string = "Ring On"
print(string.index("O"))  #index of a character index()

print(string.count("g"))  #count number of times a character appears count()

print(string[2:4])  #prints character on second and third index

print(string[2:])   #second character to end

print(string[:5])   #all values before index 4

print(string[-5:-2]) #values on index -4 to index -3

5
1
ng
ng On
Ring
ng

In [ ]:
string ="Intermediary"
print(string[3:7])
print(string[3:7:1])  #[start:stop:step]
print(string[3:9:2]) 
print(string[3:12:3])

erme
erme
emd
eea

In [ ]:
#reverse a string
string ="Intermediary"
print(string[::-1])

print(string.lower())
print(string.upper())

#split a string
strz = "The rodeo with a stereo"
print(strz.split())

yraidemretnI
intermediary
INTERMEDIARY
['The', 'rodeo', 'with', 'a', 'stereo']

## CONDITIONS