<a href="https://colab.research.google.com/github/Grace-Gitome/DS_Track/blob/main/Python_3_Tutorials_Point.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Revisitng the basics.

In [6]:
#Reading input from keyboard.
x= input ("Enter subject: ")

Enter subject: English

In [8]:
#multiple statements on a single line
import sys; x = 1; print(x)

1

In [10]:
#Python strings
str = 'Hello World!'
print (str) # Prints complete string
print (str[0]) # Prints first character of the string
print (str[2:5]) # Prints characters starting from 3rd to 5th
print (str[2:]) # Prints string starting from 3rd character
print (str * 2) # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [12]:
#Python lists
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list) # Prints complete list
print (list[0]) # Prints first element of the list
print (list[1:3]) # Prints elements starting from 2nd till 3rd
print (list[2:]) # Prints elements starting from 3rd element
print (tinylist * 2) # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [14]:
#updating a list
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
list[2] = 1000 
list

['abcd', 786, 1000, 'john', 70.2]

In [15]:
#tuples are immutable
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tuple[2] = 1000 # Invalid syntax with tuple

TypeError: ignored

In [16]:
#Python dictionary.
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one']) # Prints value for 'one' key
print (dict[2]) # Prints value for 2 key
print (tinydict) # Prints complete dictionary
print (tinydict.keys()) # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [17]:
#if function 
amount = int(input ("Enter amount: "))
if (amount > 1000):
  print("Fair enough!")

Enter amount: 2000
Fair enough!

In [19]:
#if else function
amount = float (input("Enter value:"))
if (amount >=5.77):
  print("Enough")
else:
  print("Deficit")

Enter value:2.333
Deficit

In [20]:
#The elif statement
score = int(input("Enter Score:"))

if (score >=90):
  print ("A")

elif (score>=80):
  print("B")

elif score (score>=70):
  print("C")

else:
  print("D")

Enter Score:87
B

In [ ]:
#Nested if statement